<?php
return array(
    'modules' => array(
    	'DoctrineModule',
    	'DoctrineORMModule',
        'DoctrineTools'
    ),
    'module_listener_options' => array(
        'config_glob_paths'    => array(
            __DIR__.'/../../../config/autoload/{,*.}{global,local}.php',
        ),
        'module_paths' => array(
            __DIR__.'/../../../module',
            __DIR__.'/../../../vendor',
        ),
    ),
);